# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# OSM network files (too big)
1-accessibility-boston-landing/Networks

# assessor data
boston-assessor-fy2023.csv

# Cache files
1-accessibility-boston-landing/Handouts/case_cache/
1-accessibility-boston-landing/Handouts/case_files/
1-accessibility-boston-landing/Handouts/case.log
1-accessibility-boston-landing/Handouts/concept_cache/
1-accessibility-boston-landing/Handouts/concept_files/
1-accessibility-boston-landing/Handouts/concept.log

1-accessibility-boston-landing/Handouts/rosm.cache/

# RStudio project
*.Rproj